    * {
        box-sizing: border-box;
    }
    //---Variables---//
    $base-color: #fffffe;
    $headline:  #00214d;
    $paragraph: #1b2d45;
    $button: #00ebc7;
    $buttonText: #00214d;
    
    body {
        
        background-color: $base-color;
        margin: 0;
        padding: 0;
        font-size: 62.5%;//1 rem 10px
    }


    