@import '../base.scss';
@import '../typography.scss';


.hero {
    padding: 30px 30px 60px 30px;
    .headline-text ::after {
        position: absolute;
        content: '';
        width: 50px;
        height: 10px;
        background-color: red;
    }
}

nav {
    // background-color: $pinky;
    background-color: #fde24fe0;
    border-bottom: 2px solid;
    width: 100%;
    display: flex;
    padding: 0 20px;

    // position: fixed;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 1;
    .logo {
        width: 75px;
        height: 100%;
    /* margin: auto; */
    }
}


.video-class {
    display: flex;
    margin: auto;
    border: 5px solid #fde24f;
    margin-bottom: 20px;
    position: relative;
    padding: 5px;
}

.highlight {
background-color: $pinky;
}

.bold {
    font-weight: bold;
}


/////////----Our Story-----////////
.ourStory {
    padding: 60px 30px;
    border-top: 5px solid #000;

    .headline-text {
        margin-bottom: 30px;
    }

    img {
        width: 100%;
    }
}


/////////----Safety-----////////
.safety {
    display: flex;
    flex-direction: column;
    position: relative;

    .subtext {
        margin-bottom: 150px;
    }

    .pattern-diagonal-lines-md {
        border-top: 5px solid #000;
        color: #e7e0e0bf;
    }


    .boldie {
        display: block;
        font-weight: bold;
        color: #1b2d45;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        margin-bottom: -10px;
    }
}

.pd-30 {
    padding: 60px 30px;
}

.cats {
    width: 200px;
}

.ulta-cat {
    width: 176px;
    position: absolute;
    top: 18px;
    left: 0;
    transform: rotate(-24deg);
}

.cat-btm {
    position: absolute;
    bottom: 0;
    width: 100px;
    right: 50px;
    transform: rotateY(180deg);

}